* {
  list-style: none;
  font-family: 'Crimson Text', serif;
}

h1 {
  text-align: center;
}

.social-media {
  font-style: oblique;
  color: white,
}

.FOOTER {
  background-color: #3a445f;
  padding: 0.5%;
  text-align: center;
}

